.montserrat
  font-family 'Montserrat', Arial, Helvetica, sans-serif

i
  cursor pointer

.flex-container
  display flex
  flex-direction row
  flex-wrap wrap

//.flex-item
//  flex 1

table()
  cursor pointer
  margin-right 2cm

.table-red
  table()
  background-color indianred

.table-green
  table()
  background-color lightgreen



