span.autocomplete-box
  position relative
  background-color white

div.autocomplete-popover
  z-index 1000
  cursor pointer
  background-color white
  position absolute
  left 0px


div.autocomplete-selected
  background-color black
  color white

span.auto-multiple
  border 1px solid black

