input, textarea
  border 1px gray
  border-style none none solid none

.input-successful
  border-color green
  border-width 2px

.input-incorrect
  color lightcoral
  border-color red
  border-width 2px

.input-dirty
  background-color #fdca96