ul.menu
  list-style-type none
  padding 0

li.menu-item
  float left


li.menu-item a
  display block
  color white
  background-color black
  text-align center
  padding 14px 16px
  text-decoration none


li.menu-item a:hover:not(.active)
  background-color #111

li.menu-item.active a
  background-color darkorange

ul.menu:after
  content ''
  display block
  clear both
