.arrow-up
  width 0
  height 0
  border-left 15px solid transparent
  border-right 15px solid transparent
  border-bottom 15px solid #fdca96

.popover
  position absolute
  width 150px

.popover.inactive
  height 0px
  visibility hidden

.popover.active
  height 50px
  visibility visible

.popover .content
  background-color #fdca96

.popover .box
  border-color lightcoral

.popover .close
  background-color #fdca96
  text-align right
  cursor pointer
